<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">
	<h3>List of Restaurants</h3>
	<div class="row">
		
		<div data-th-each="eachRestaurants : ${restaurantsList}">
			<a data-th-text="${eachRestaurants[0]}" class="trigger_popup_fricc">...</a>
			<span data-th-text="${eachRestaurants[1]}">...</span>
		</div>

		<div class="hover_bkgr_fricc">
			<span class="helper"></span>
			<div>
				<div class="popupCloseButton">&times;</div>
				<p data-th-each="eachItem : ${itemList}">
					<span style="color: red;" data-th-text="${eachItem.itemName}">...</span>
					<span style="color: red;" data-th-text="${eachItem.price}">...</span>
				</p>
				<hr>
			</div>
		</div>
	</div>

</div>
<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>