<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
	<div class="row">
        <article th:each="restaurant : ${restaurantsList}">
            <h1 class="article-title">
                <span th:text="restaurant.name">...</span>
                <span th:text="restaurant.city">...</span>
            </h1>
        </article>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>