<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <main>
        <section class="cards">
            <article>
                <img class="article-img" src="/images/restaurants/mcdonald-century.png" alt=" " />
            </article>
            <article>
                <img class="article-img" src="/images/restaurants/cinnabon-century.png" alt=" " />
            </article>
            <article>
                <img class="article-img" src="/images/restaurants/kfc-century.png" alt=" " />
                <h1 class="article-title">
                    Title of article
                </h1>
            </article>
            <article>
                <img class="article-img" src="/images/restaurants/kfc-milnerton.png" alt=" " />
            </article>
            <article>
                <img class="article-img" src="/images/restaurants/brocka-century.png" alt=" " />
            </article>
            <article>
                <img class="article-img" src="/images/restaurants/spur-milneton.png" alt=" " />
            </article>
        </section>
    </main>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>