<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <form name="addLocation" method="POST" action="addLocation.htm" commandName="location" onsubmit="changeAdress()">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Adres</td>
                <td><input type="text" id="adress" name="adress"/></td>
            </tr>
            <tr>
                <td><input type="text" id="geolocation" name="geolocation"/></td>
            </tr>
        </table>
        <input type="hidden" name="id" value="${location.id}"/>
        <input type="submit" name="action" value="Save"/>
        <input type="submit" name="action" value="Cancel"/>
    </form>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
<script type="text/javascript">
    function changeAddress() {
        var adres = document.getElementById("adress).value;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': adres}, function(result, status) {
            if (status == google.mapsGeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                document.addLocation.geolocation.value = latitude + " " + longitude;
                alert(document.getElementId("geolocation").value);
                document.addLocation.submit();
            } else alert("geocode failed:" + status);
        });
        return false;
    }
</script>
</html>