<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Delivery Address Information</h3>
            <form th:action="@{/restaurants/location}" method="post">
                <input type="hidden" name="id" th:value="${deliveryAddress.id}" />

                <div class="form-group">
                    <label for="streetName">Street Name</label>
                    <input type="text" class="form-control" th:value="${deliveryAddress.streetName}" name="streetName"
                           id="streetName" placeholder="Street name"/>
                </div>
                <div class="form-group">
                    <label for="suburb">Suburb</label>
                    <input type="text" class="form-control" th:value="${deliveryAddress.suburb}" name="suburb"
                           id="suburb" placeholder="Suburb"/>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" th:value="${deliveryAddress.city}" name="city"
                           id="city" placeholder="City"/>
                </div>
                <div class="form-group">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" class="form-control" th:value="${deliveryAddress.postalCode}" name="postalCode"
                           id="postalCode" placeholder="Postal Code"/>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-primary" type="submit">Find Address</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>