<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<head th:replace="common/header :: navbar" />
<div class="container">
	<span><a th:href="@{/restaurants/location}">go to restaurants</a></span>
	<div class="row">
		<div class="col-sm-3 col-md-6" id="grid-fixed"
			data-th-each="eachItem : ${itemList}">
			<h1 class="trigger_popup_fricc">
				<span data-th-text="${eachItem[0]}">...</span> <span
					style="color: red;" data-th-text="${eachItem[1]}">...</span>
			</h1>
			<button type="button" class="btn btn-success">
				R <span style="color: red;" data-th-text="${eachItem[2]}">...</span>
			</button>
		</div>
		<div class="hover_bkgr_fricc">
			<span class="helper"></span>
			<div>
				<div class="popupCloseButton">&times;</div>
				<form action="#" method="post">
					
					<div class="form-group ">
						<button type="submit" class="btn btn-success btn-block ">Add To Cart</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>