<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">
	<div data-th-each="eachAddress : ${addressList}">
		<h1 class="list_restaurants"
			data-th-text="${eachAddress.streetName}+', '+${eachAddress.suburb}+', '+${eachAddress.postalCode}">...</h1>
	</div>
	<div class="row">

		<div data-th-each="eachRestaurants : ${restaurantsList}">
			<a data-th-text="${eachRestaurants[0]}" class="trigger_popup_fricc">...</a>
			<span data-th-text="${eachRestaurants[1]}">...</span>

			<div class="hover_bkgr_fricc">
				<span class="helper"></span>
				<div>
					<div class="popupCloseButton">&times;</div>
					<p data-th-each="eachItem : ${itemList}">
						<span style="color: red;" data-th-text="${eachItem[0]}">...</span><br>
						<span style="color: red;" data-th-text="${eachItem[1]}">...</span>
						R <span style="color: red;" data-th-text="${eachItem[2]}">...</span><br>
						<br>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>