<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<div class="container">
	<div class="row main">
		<div class="col-md-6">
			<h2 class="title">My Profile</h2>
			<hr />
			<form method="post" th:action="@{/user/profile}">
				<input type="hidden" name="id" th:value="${user.id}" />

				<div class="form-group">
					<label for="firstname">First Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa"
								aria-hidden="true"></i></span> <input type="text" class="form-control"
								th:value="${user.firstname}" id="firstname" name="firstname"
								placeholder="Enter your first name"
								required="required" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="lastName" class="cols-sm-2 control-label">Surname</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa"
								aria-hidden="true"></i></span> <input type="text" class="form-control"
								th:value="${user.surname}" id="surname" name="surname"
								placeholder="Enter your surname"
								required="required" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="cellphone" class="cols-sm-2 control-label">Phone</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone fa"
								aria-hidden="true"></i></span> <input type="text" class="form-control"
								th:value="${user.cellphone}" id="cellphone" name="cellphone"
								placeholder="xxx-xxx-xxxx" required="required" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label><span
						class="bg-danger pull-right" th:if="${usernameExists}">Username
						already exists</span>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa"
								aria-hidden="true"></i></span> <input type="text" class="form-control"
								th:value="${user.username}" id="username" name="username"
								roleId="username" placeholder="Enter your Username"
								required="required" />
						</div>
					</div>
				</div>

				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-block ">Change
						Settings</button>
				</div>

			</form>
		</div>
	</div>
</div>
</div>

<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>